@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}
.music-icon {
    width: 20px;
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 15px;
}

section, .infos-casamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infos-casamento {
    gap: 10px;
}
.flores {
    width: 80%;
    position: relative;
}
.versiculo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0px 30px;
    color: rgb(103, 27, 27);
}
.img-noivos {
    width: 75%;
}

.invite-h3 {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: rgb(102, 47, 8);
    font-size: 15px;
    margin: 10px 30px 30px 30px;
    font-weight: lighter;
}
.infos-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 35px;
    margin-bottom: 30px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 45px;
}
.icons img:hover {
    opacity: 0.8;
}
.infos-container img {
    width: 70px;
    cursor: pointer;
}

.opacityModal {
    opacity: 0.7;
}

.cerimonia,.confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: rgb(137, 68, 19);;
}

.dia,.data {
    font-family: 'EB Garamond', serif;
    text-align: center;
    color: rgb(102, 47, 8);
    font-size: 15px;
    font-weight: lighter;
}

.data {
    margin-bottom: 15px;
}
.linha-horizontal {
    width: 180px;
    height: 1px; /* Altura da linha */
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); /* Gradiente linear da esquerda para a direita */
}

@media screen and (min-width: 800px) {

    .music-icon {
        width: 30px;
        cursor: pointer;
        position: absolute;
        top:35px;
        right: 35px;
    }

    .flores {
        width:50%;
        position: relative;

    }
    .versiculo {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 21px;
        color: rgb(103, 27, 27);
        margin-bottom: 15px;
    }
    .img-noivos {
        width:500px;
        margin-bottom: 15px;
    }
    
    .invite-h3 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    .infos-container {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
        margin-bottom: 30px;
    }

    .icons img:hover {
        opacity: 0.8;
    }
    .infos-container img {
        width: 70px;
        cursor: pointer;
    }

    .flores2 {
        position: absolute;
        bottom: -10px;
        left: -10px;

        width: 10%;
    }
}
