@font-face {
    font-family: 'Book';
    src: url('../../assets/Books\ Script.otf') format('OTF');
  }

.cronometro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 18px;
    position: relative;

}

.cronometro span {
    color:  #c26623;
}
.cronometro h1 {
    color: #c26623;
    font-family: 'Book', sans-serif;
}
.infos-cronometro {
    display: flex;
    gap: 15px;
}
.infos-cronometro div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    .background {
        width:400px;
        border-radius: 50%;
        position: absolute;
    }
    .cronometro {
        position: relative;
    
    }

    .cronometro span {
        font-size: 30px;
    }
    .cronometro h1 {
        font-size: 40px;
    }
}