.mapa {
    margin: 0;
    border: 5px solid #d89e69;
    position: relative;
    
    height: 25rem;

}

.close {
    position: absolute;
    right: -2px;
    top: -5px;
    background-color: #d89e69;
    width: 15px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
@media screen and (min-width: 800px) {
    .mapa {
        margin: 0;
        border: 5px solid  #d89e69;
        width: 70rem;
        height: 30rem;
        margin-top: 15px;
    }
}