.modal-initial {
background:#a2774e;
width:35rem;
height: 14rem;
border-radius: 30px;
gap: 2rem;
z-index: 30;

}

.buttons {
  display: flex;
  gap: 10px;

}
.buttons button {
  border: none;
  background-color: rgb(167, 121, 60);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;  
  border: 1px solid white;
}


@media screen and (min-width: 800px) {

  .modal-initial {
    background:#a2774e;
    width:30%;
    height: 14rem;
    border-radius: 10px;
    gap: 2rem;
    
    }
  
    
}